*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
html, body{
    height: 100%;
    width: 100%;

}
.main
{
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    display: grid;
    grid-template-columns: 25% 25% 50%;
    grid-template-rows: 26% 56% 18%;
}

.left-top-left{
    background-color: rgb(255, 255, 255);
    padding: 30px;
}
.square{
    width: 2vw;
    height: 2vw;
    background-color: rgb(0, 0, 0);
 
}
.square:hover{
    rotate: 45deg;
}


.left-top-right{
    background-color: rgb(255, 255, 255);
    margin: 30px;
justify-self: right;
text-align: right;
padding: 0px 10px;
}
.left-top-right h4{
    font-weight: 700;
    font-size: 1.5vw;
    margin-bottom: 10px;
    text-transform:uppercase;
   
}
.left-top-right h5{
    font-weight: 500;
    font-size: 1.4vw;
color: rgba(0, 0, 0, 0.838);
text-transform:lowercase;
   
    
}
.left-top-right h5:hover{
text-shadow: #000;
text-transform: uppercase;
}
.right{
    padding: 2vw 8vw ;
}
.right h1{
    font-weight: 500;
    font-size: 5vw;
    color: #000;
    text-transform:uppercase;
   
}
.right h1:nth-child(2n){
text-align: center;
font-weight: 500;

color: rgba(0, 0, 0, 0.838);
}



.left-center{
    background-color: rgb(255, 255, 255);
    grid-row: 1/4;
    grid-column: 3;
}

.right{
    background-color: rgb(255, 255, 255);
    grid-row: 2/3;
grid-column: 1/3;
line-height: 5vw;
}
.left-center video{
    width: 50vw;
    height: 100vh;
    object-fit: cover;
    padding: 30px;
    padding-right: 150px;

}
.right h1 :nth-child(2){
    text-align: center;
    align-items: center;
}
.bottom{
    background-color: rgb(255, 255, 255);
    grid-column: 1/3;
    padding: 4vw;
    text-align: left;
}
.arrow{
    font-size: 40px;
    color: #ffffff;
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    padding: 3vw;
    background-color: red;

}
.arrow i{
    font-size: 40px;
    color: #ffffff;

}


@media only screen and (max-width: 600px) {
    .main
    {
        width: 100%;
        height: 100%;
        background-color: #ffffff;
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 60px 30% 10%;
    }
    .right{
        background-color: rgb(255, 255, 255);
        grid-row: 2/3;
    grid-column: 1/3;
    align-self: center;
    line-height: 5vw;
    
    }
    .left-center{
        background-color: rgb(255, 255, 255);
        grid-row: 4;
        grid-column: 1;
    }
    .left-center video{
        width: 100vw;
        height: 50vh;
        object-fit: cover;
        padding: 30px;
    
    
    }
    .left-top-right h4{
        font-weight: 700;
        font-size: 2vw;
        margin-bottom: 10px;
        text-transform:uppercase;
       
    }
    .left-top-right h5{
        font-weight: 500;
        font-size: 2vw;
    color: rgba(0, 0, 0, 0.838);
    text-transform:lowercase;
       
        
    }
    .bottom{
        background-color: rgb(255, 255, 255);
        grid-column: 1/3;
        padding: 2.5vw;
        text-align: left;
    }
   
    .arrow{
        font-size: 40px;
        color: #ffffff;
        cursor: pointer;
        position: absolute;
        top: 50%;
        left: 50%;
        rotate: 90deg;
        border-radius: 50%;
        transform: translate(-50%, -50%);
        padding: 3vw;
        background-color: red;
    
    }
  }
  @media only screen and (max-width: 2900px) {
    .left-top-right h5{
        font-weight: 500;
        font-size: 1vw;
    color: rgba(0, 0, 0, 0.838);
    text-transform:lowercase;
       
        
    }
    .bottom{
        background-color: rgb(255, 255, 255);
        grid-column: 1/3;
        padding: 3vw;
        text-align: left;
    }

  }